processing/utils/__pycache__/*
processing/files_path_list.txt
processing/lemmatization_errors.log
processing/repetition_removal_errors.log
example.py

processing/files_path_list.txt
1/
result/
processing/files_path_list.txt

